# Blanket ownership of all PRs.
* @jrasell @lgfa29

# release configuration
/.release/                              @hashicorp/release-engineering
/.github/workflows/build.yml            @hashicorp/release-engineering
