# Blanket ownership of all PRs.
* @hashicorp/github-nomad-core @hashicorp/nomad-eng

# release configuration
/.release/                              @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/nomad-eng
