# binary output directory
bin/
plugins/test/bin/

# release binary output directory
# KENTIK override
# pkg/

# ignore GoLand IDE
.idea

# assets download path when using bob CLI
.bob

# default builds
# KENTIK override
# nomad-autoscaler
plugins/test/noop-*/noop-*

# demo configs
example.nomad.hcl
spec.hcl
config.hcl

# IDE config files
.vscode/
