# binary output directory
bin/
plugins/test/bin/

# release binary output directory
pkg/

# ignore Vagrant related files
*.log
.vagrant

# ignore GoLand IDE
.idea

# Terraform state files.
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate.lock.info

# Terraform module and provider directory.
.terraform

# Terraform vars file
terraform.tfvars
