# binary output directory
bin/
plugins/test/bin/

# release binary output directory
pkg/

# ignore GoLand IDE
.idea

# assets download path when using bob CLI
.bob

# default builds
nomad-autoscaler
plugins/test/noop-*/noop-*

# demo configs
example.nomad.hcl
spec.hcl
config.hcl